<h2>Home Page</h2>

<div class="d-grid gap-2">
    <% if(!user){ %>
        <a class="btn btn-primary" href="/users/login" role="button" 
        style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
        Login</a>
        <a class="btn btn-primary" href="/users/new" role="button"
        style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
        Signup</a>
    <% } else { %>
    <a class="btn btn-primary" href="/users/posts" role="button"
    style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
    My Posts</a>
    <% } %>
    <a class="btn btn-primary" href="/posts" role="button"
    style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
    All Posts</a>
    <a class="btn btn-primary" href="/posts/new" role="button"
    style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
    Create A New Post</a>
</div>