<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judgement Day</title>
</head>
<body>
    <nav>
        <div>
            <a href="/classes">Classes</a>
            <a href="/races">Races</a>
            <a href="/posts">Posts</a>
        </div>
        <div>
            <% if(user){ %>
                <a href="/users/posts">My Posts</a>
                <a href="/users/logout">Logout</a>
            <% } else { %>
                <a href="/users/new">Sign Up</a>
                <a href="/users/login">Login</a>
            <% } %>
        </div>
    </nav>
    <h1>Judgement DAYYYYYYYYYYYY</h1>

    <%- body %>
</body>
</html>