<h2>New Users Page</h2>

<form action="/users" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="username" name="username" require>
    
    <label for="email">Email: </label>
    <input id="email" type="email" name="email" require>
    
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" required>

    <button type="submit">Sign Up</button>
</form>